# Ignore all files and directories starting with an underscore
_*
Icon?

*.pkl
*.code-workspace
exports/**/final
exports/**/stats
models/*
pkl/*
outputs/**/_temp
outputs/**/analysis
data/**
report/*
_REAMDME.md
.gitignore

*.h5
*.npy
*.npz
*.onsets
*.flac
Icon

ledger.csv